<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tornado Serpisori</title>
    <link rel="stylesheet" href="{{ static_url('app.css') }}" type="text/css">
</head>
<body>
<span id="features"></span>
<span id="example"></span>
<h2>Player</h2>

<div id="body">
    <div id="inbox">
		
    </div>

</div>
<script src="{{ static_url('jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('gyro.min.js') }}"></script>
<script src="{{ static_url('player.js') }}" type="text/javascript"></script>

</body>
</html>
