<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tornado Serpisori Spectator</title>
    <link rel="stylesheet" href="{{ static_url('app.css') }}" type="text/css">
</head>
<body>

    <div id="body">
        <div id="inbox">
        </div>
    </div>
    
    <script src="{{ static_url('jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('gyro.min.js') }}"></script>
    <script src="{{ static_url('spectator.js') }}" type="text/javascript"></script>
</body>
</html>
